<launch>
	
    <!-- Open baxter's right hand camera and set the required resolution -->

    <node pkg="starbax" type="enable_robot.py" name="enable_robot" args="-e" />

    <node pkg="baxter_tools" type="camera_control.py" name="open_left_camera" output="screen"  args="-o left_hand_camera -r 1280x800" />

  	<node name="starbax" pkg="starbax" type="starbax_sw.py">  </node> 

    <node name="table_cam_sw" pkg="starbax" type="table_cam_sw.py"> </node>
    
    <node name="presser_node" pkg="starbax" type="press_service.py"> </node>
    
    <node name="closer_node" pkg="starbax" type="close_service.py"> </node>
    
    <node name="opener_node" pdg="starbax" type="close_service.py"> </node>

</launch>
